body {
	font-family:Arial;
	font-size:11px;
	text-aling:center;
	background-color:#000000;
	color:#A0A0A0;
	}
A:link {
	color:#FF8080;
	}
	
A:visited {
	color:#998080;
	}
A:active {
	color:#FF0000;
	}
A:hover {
	color:#FFFFFF;
	}
H2 {
	text-align:center;
	}
td {
	font-family:Arial;
	font-size:x-small;
	text-aling:center;
}
img {
	border:0pt;
	}
